[user]
	email = mende.christoph@gmail.com
	name = Christoph Mende
	signingkey = 0x3A12DE31
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = current
[help]
	autocorrect = 1
[core]
	autocrlf = input
